body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(images/bgImg38.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}

.topColorBar{
    height: 70px;
    /* background-color: #406882; */
    /* background-color: #3E5879; */
    background-color: hsl(214, 32%, 20%);
}

.mainWrapper{
    padding: 25px;
    color: hsl(206, 50%, 10%);
}
.middleWrapper{
    display: flex;
    justify-content: center;
    padding: 25px;
    color: hsl(206, 50%, 10%);
}


.lowerWrapper{
    padding: 25px;
    color: hsl(206, 50%, 10%);
}

label{
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    text-align: center;
}

.profileArea{
    text-align: center;
    margin-top: -35px;
    /* margin-top: 35px; */
}

.profilePic{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 3px 3px 5px rgba(75, 73, 73, 0.705);
}

.nameBar{
    margin-top: -10px;
    /* margin-bottom: 25px; */
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.507) 1px 1px;
    font-family:sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    /* color: hsl(0, 0%, 20%); */
    /* color: #1A374D; */
    color: black;
}

.cardsWrapper{
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    /* scrollbar-color: rgba(255, 255, 255, 0.507) transparent; */
    scrollbar-color: rgba(255, 255, 255, 0.30) transparent;
}

.card{
   margin: 0px 20px;
   padding: 15px 30px;
   min-width: 400px;
   max-height: 250px;
   border-radius: 40px;
}

.card label{
    text-decoration: underline;

}

.card ul li{
    padding-bottom: 10px;
}

#bio{
    width: 725px;
    margin: 0px 25px 15px 25px;
    /* background-color: hsla(23, 48%, 66%, 0.80); */
    /* background-color: hsl(173, 35%, 69%, 0.80); */
    /* background-color: hsl(210, 13%, 65%, 0.90); */
    background-color: hsla(0, 0%, 100%, 0.80);
    padding: 10px 20px;
    border-radius: 40px;
    text-align: center;
    font-size: 1.15rem;
    font-style: italic;
    box-shadow: 3px 3px 5px rgba(75, 73, 73, 0.705);
}

#qualifications{
    /* background-color: hsl(173, 35%, 69%, 0.80); */
    background-color: hsla(23, 48%, 66%, 0.80);
    box-shadow: 3px 3px 5px rgba(75, 73, 73, 0.705);
}


#experience{
    background-color:hsl(200, 43%, 79%, 0.80);
    box-shadow: 3px 3px 5px rgba(75, 73, 73, 0.705);
    overflow-y: scroll;
    scrollbar-color: rgba(255, 255, 255, 0.50) transparent;
}


#education{
    background-color: hsl(26, 13%, 65%, 0.80);
    box-shadow: 3px 3px 5px rgba(75, 73, 73, 0.705);
}

#credentials{
    /* background-color: hsl(210, 13%, 65%, 0.80); */
    background-color: hsl(173, 35%, 69%, 0.80);
    box-shadow: 3px 3px 5px rgba(75, 73, 73, 0.705);
}

.quoteWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote{
    width: 700px;
    margin-bottom: 25px;
    background-color:hsl(197, 28%, 54%, 0.80);
    /* color: white; */
    padding:    5px;
    border-radius: 40px;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    box-shadow: 3px 3px 5px rgba(75, 73, 73, 0.705);
}

.authorName{
    text-align: center;
}


.links{
    /* background-color: lightgreen; */
    margin-bottom: 10px;
    margin-left: 60px;
    width:80%;
}

.footerLabel{
    font-weight: bold;
}

.linkItems{
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    font-style: italic;
}